<div class="container">
  <header>
    <img src="{{ img }}" />
    <img src="https://occ-0-768-769.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABaoEdAJGqp0XoF6uHncflnoOxhsm25-J8gC_0egzmAHCu8LvLXODILyQMk8N2t2mp38AABmiiev3EdZbdxEu1J2c1MEA18Ow9RSV2-6LnF6uhYgf99YAeDLeDg5IULndP4SbyKjHPUXeiPjjujsShNUdC4mEQ3ZmvLJEdRKIYUwtCSAY6fUDpd548iaXWtoakadDjZN96reY2DRw92Xb5l6x7DHMC9AwRjkcXjvx-fyG0kD-qNWPFhgBG-hmmcJ4QmQxex7jzrdJwjWJJ8x7sSmZCQ6KbBwM_UlFF6xwXM-7hE3ntvmYj3VjWqi38OVRkn_D6gzOt5QjjYoId8TdeFk-O_p064F9w0mtq-wxQP3DoDGkzHYSM2Pzew.jpg?r=ce8" class="titleImg" />
    <button class="btn">
      <img src="assets/images/play.png" />
      <span>Assistir</span>
    </button>
  </header>

  <footer>
    <div class="left">
      <div class="generalInfo">
        <span class="relevance">{{ relevance }}% relevante</span> 2021
        <div class="age">{{ minAge }}</div>
        {{ time }} minutos
      </div>
      <div class="description">
        {{ description }}
      </div>
    </div>
    <div class="right">
      <div><span class="label">Elenco:</span> {{ cast }}</div>
      <div><span class="label">Gêneros:</span> {{ genre }}</div>
      <div><span class="label">Cenas e momentos:</span> {{ scenes }}</div>
    </div>
  </footer>
</div>
