<header>
    <nav class="navbar">
        <a [routerLink]="['/catalog']" class="nav-logo">
          <img src="/assets/images/logo.png" alt="Netflix Logo" />
        </a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a [routerLink]="['/catalog']" class="nav-link active">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/catalog']" class="nav-link">Series</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/movie']" class="nav-link">Films</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/catalog']" class="nav-link">Nieuw en populair</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/catalog']" class="nav-link">Mijn lijst</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
      
    <div class="container">
      <div id="title">
        <img src="https://occ-0-768-769.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABfCDgoT3-s4F40YV8sNLDLhBuhQqQTbw71PdlZ1BQEDkTNZs1EgFTHKgQawAGNOr3uq11-mQiSjZOmfvuYhol7j_Tyk7SeeDS6JnhLl5Q9RQcPltbIl0y9YTXwYajnoIHtiAWn_OY2tV_2s2KAkoYeCrWahvTDcxJwbw8zqbKSwRB-NFA_11cg.webp?r=26c" alt="Netflix Logo" />
      </div>
  
      <div class="info">
        <div id="topToday">
          <div id="top10">
            <p>TOP</p>
            <p>10</p>
          </div>
          <p>Nr. 4 in series vandaag </p>
        </div>
  
        <div id="description">
            Zijn moeder is therapeute, dus heeft de onzekere Otis alle antwoorden als het om seks gaat. De rebelse Maeve stelt voor een sekstherapiepraktijk op school te openen.
        </div>
  
        <div class="btnOptions">
          <button class="btn white">
            <img src="assets/images/play.png" />
            <span>Afspelen</span>
          </button>
          <button class="btn gray">
            <img src="assets/images/info.png" />
            <span>Meer informatie</span>
          </button>
        </div>
      </div>
    </div>
  </header>
  <div class="wrapper">
  <div class="movie-container">
    <app-card *ngFor="let movie of movies" [movie]="movie">
      
    </app-card>
    
  </div>
  
  </div>

  

  