<header class="navbar">
    <h1 routerLink="/catalog" class="nav-logo">
      <img src="/assets/images/logo.png" alt="Netflix Logo" />
    </h1>
    <div class="nav-link">
        <a routerLink="/catalog" class="nav-link active">Home</a>
    </div>
    <div class="nav-link">
        <a routerLink="/catalog" class="nav-link">Series</a>
    </div>
    <div class="nav-link">
        <a routerLink="/catalog" class="nav-link">Films</a>
    </div>
    <div class="nav-link">
        <a routerLink="/catalog" class="nav-link">Nieuw</a>
    </div>
    <div class="nav-link">
        <a routerLink="/catalog" class="nav-link">Mijn lijst</a>
    </div>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
</header>
<router-outlet></router-outlet>