.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #111; /* Donkere achtergrondkleur, vergelijkbaar met Netflix */
    padding: 20px;
  }